*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 30%;
    height: 25rem;
    left: 0;
    right: 0;
    margin: 7rem auto;
    border: 1px solid gray;
    border-radius: 10%;
    background: linear-gradient(45deg, skyblue,pink, transparent);
    
}

.content{
    padding: 1rem 3rem;
    /* margin: 2rem; */
    line-height: 1.5rem;
}
.content1{
    padding: 1rem 3rem;
    /* margin: 2rem; */
    line-height: 1.5rem;
}


.icons{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 2rem;

    
}

.icons1{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 2rem;

    
}


.resultBoard{
    width: 30%;
    padding: 5%;
    left: 9rem;
    border: 1px solid black;
    text-align: center;
    background-color: green;
    visibility: hidden;
    position: relative;
}